In [4]:
import numpy as np 
import pandas as pd 

import os 
for dirname,_, filename in os.walk("/kaggle/input"):
    for filename in filesname:
        print(os.path.join(dirname.filename))

In [5]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable

[notice] A new release of pip is available: 24.0 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: pandas in c:\users\gwek2\appdata\roaming\python\python312\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\gwek2\appdata\roaming\python\python312\site-packages (from pandas) (2.1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\gwek2\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\gwek2\appdata\roaming\python\python312\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\gwek2\appdata\roaming\python\python312\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\gwek2\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [6]:
import pandas as pd

In [7]:
import sys
!{sys.executable} -m pip install pandas

Requirement already satisfied: pandas in c:\users\gwek2\anaconda3\envs\tf_env\lib\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.22.4 in c:\users\gwek2\anaconda3\envs\tf_env\lib\site-packages (from pandas) (2.2.6)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\gwek2\anaconda3\envs\tf_env\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\gwek2\anaconda3\envs\tf_env\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\gwek2\anaconda3\envs\tf_env\lib\site-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in c:\users\gwek2\anaconda3\envs\tf_env\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [1]:
import pandas as pd

In [8]:
df = pd.read_csv("bank datasets.zip")

In [5]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [10]:
df.duplicated().sum()

np.int64(0)

In [11]:
df["Exited"].value_counts()

Exited
0    7963
1    2037
Name: count, dtype: int64

In [12]:
df["Geography"].value_counts()

Geography
France     5014
Germany    2509
Spain      2477
Name: count, dtype: int64

In [13]:
df["Gender"].value_counts()

Gender
Male      5457
Female    4543
Name: count, dtype: int64

In [14]:
df.drop(columns=["RowNumber","CustomerId","Surname"],inplace=True)

In [15]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [16]:
# using OHE
df = pd.get_dummies(df,columns=["Geography","Gender"],drop_first=True)

In [17]:
df

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,False,False,False
1,608,41,1,83807.86,1,0,1,112542.58,0,False,True,False
2,502,42,8,159660.80,3,1,0,113931.57,1,False,False,False
3,699,39,1,0.00,2,0,0,93826.63,0,False,False,False
4,850,43,2,125510.82,1,1,1,79084.10,0,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,0,False,False,True
9996,516,35,10,57369.61,1,1,1,101699.77,0,False,False,True
9997,709,36,7,0.00,1,0,1,42085.58,1,False,False,False
9998,772,42,3,75075.31,2,1,0,92888.52,1,True,False,True
9999,792,28,4,130142.79,1,1,0,38190.78,0,False,False,False

In [36]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=1)

In [21]:
import sys
!{sys.executable} -m pip install scikit-learn

Collecting scikit-learn
  Downloading scikit_learn-1.7.2-cp310-cp310-win_amd64.whl.metadata (11 kB)
Requirement already satisfied: numpy>=1.22.0 in c:\users\gwek2\anaconda3\envs\tf_env\lib\site-packages (from scikit-learn) (2.2.6)
Collecting scipy>=1.8.0 (from scikit-learn)
  Downloading scipy-1.15.3-cp310-cp310-win_amd64.whl.metadata (60 kB)
Collecting joblib>=1.2.0 (from scikit-learn)
  Downloading joblib-1.5.3-py3-none-any.whl.metadata (5.5 kB)
Collecting threadpoolctl>=3.1.0 (from scikit-learn)
  Using cached threadpoolctl-3.6.0-py3-none-any.whl.metadata (13 kB)
Downloading scikit_learn-1.7.2-cp310-cp310-win_amd64.whl (8.9 MB)
   ---------------------------------------- 0.0/8.9 MB ? eta -:--:--
   -------------- ------------------------- 3.1/8.9 MB 20.6 MB/s eta 0:00:01
   --------------------- ------------------ 4.7/8.9 MB 13.0 MB/s eta 0:00:01
   ------------------------- -------------- 5.8/8.9 MB 9.8 MB/s eta 0:00:01
   ---------------------------- ----------- 6.3/8.9 MB 8.6 MB/s eta 0:00:01
   ------------------------------ --------- 6.8/8.9 MB 7.5 MB/s eta 0:00:01
   ------------------------------- -------- 7.1/8.9 MB 6.4 MB/s eta 0:00:01
   ---------------------------------- ----- 7.6/8.9 MB 5.3 MB/s eta 0:00:01
   ----------------------------------- ---- 7.9/8.9 MB 5.0 MB/s eta 0:00:01
   ------------------------------------- -- 8.4/8.9 MB 4.6 MB/s eta 0:00:01
   ---------------------------------------- 8.9/8.9 MB 4.3 MB/s  0:00:02
Downloading joblib-1.5.3-py3-none-any.whl (309 kB)
Downloading scipy-1.15.3-cp310-cp310-win_amd64.whl (41.3 MB)
   ---------------------------------------- 0.0/41.3 MB ? eta -:--:--
    --------------------------------------- 0.5/41.3 MB 2.8 MB/s eta 0:00:15
   - -------------------------------------- 1.0/41.3 MB 2.6 MB/s eta 0:00:16
   - -------------------------------------- 1.6/41.3 MB 2.8 MB/s eta 0:00:15
   -- ------------------------------------- 2.4/41.3 MB 3.0 MB/s eta 0:00:14
   -- ------------------------------------- 2.9/41.3 MB 3.1 MB/s eta 0:00:13
   --- ------------------------------------ 3.7/41.3 MB 3.0 MB/s eta 0:00:13
   ---- ----------------------------------- 4.2/41.3 MB 3.1 MB/s eta 0:00:12
   ---- ----------------------------------- 4.7/41.3 MB 3.1 MB/s eta 0:00:12
   ----- ---------------------------------- 5.8/41.3 MB 3.1 MB/s eta 0:00:12
   ------ --------------------------------- 6.6/41.3 MB 3.2 MB/s eta 0:00:11
   ------ --------------------------------- 7.1/41.3 MB 3.3 MB/s eta 0:00:11
   ------- -------------------------------- 7.9/41.3 MB 3.3 MB/s eta 0:00:11
   -------- ------------------------------- 8.9/41.3 MB 3.4 MB/s eta 0:00:10
   --------- ------------------------------ 9.7/41.3 MB 3.4 MB/s eta 0:00:10
   ---------- ----------------------------- 10.7/41.3 MB 3.6 MB/s eta 0:00:09
   ----------- ---------------------------- 11.8/41.3 MB 3.7 MB/s eta 0:00:09
   ------------ --------------------------- 12.8/41.3 MB 3.7 MB/s eta 0:00:08
   ------------- -------------------------- 14.2/41.3 MB 3.9 MB/s eta 0:00:07
   -------------- ------------------------- 15.2/41.3 MB 4.0 MB/s eta 0:00:07
   ---------------- ----------------------- 16.5/41.3 MB 4.1 MB/s eta 0:00:07
   ----------------- ---------------------- 17.8/41.3 MB 4.2 MB/s eta 0:00:06
   ------------------ --------------------- 19.1/41.3 MB 4.2 MB/s eta 0:00:06
   ------------------- -------------------- 20.4/41.3 MB 4.3 MB/s eta 0:00:05
   -------------------- ------------------- 21.2/41.3 MB 4.3 MB/s eta 0:00:05
   --------------------- ------------------ 22.3/41.3 MB 4.4 MB/s eta 0:00:05
   ---------------------- ----------------- 23.3/41.3 MB 4.4 MB/s eta 0:00:05
   ----------------------- ---------------- 24.6/41.3 MB 4.5 MB/s eta 0:00:04
   ------------------------ --------------- 25.7/41.3 MB 4.5 MB/s eta 0:00:04
   -------------------------- ------------- 27.0/41.3 MB 4.6 MB/s eta 0:00:04
   -------------------------- ------------- 27.8/41.3 MB 4.6 MB/s eta 0:00:03
   --------------------------- ------------ 28.3/41.3 MB 4.5 MB/s eta 0:00:03
   --------------------------- ------------ 28.8/41.3 MB 4.4 MB/s eta 0:00:03
   ---------------------------- ----------- 29.1/41.3 MB 4.4 MB/s eta 0:00:03
   ---------------------------- ----------- 29.6/41.3 MB 4.3 MB/s eta 0:00:03
   ----------------------------- ---------- 30.1/41.3 MB 4.2 MB/s eta 0:00:03
   ----------------------------- ---------- 30.7/41.3 MB 4.2 MB/s eta 0:00:03
   ------------------------------ --------- 31.2/41.3 MB 4.2 MB/s eta 0:00:03
   ------------------------------ --------- 31.7/41.3 MB 4.1 MB/s eta 0:00:03
   ------------------------------- -------- 32.5/41.3 MB 4.1 MB/s eta 0:00:03
   -------------------------------- ------- 33.3/41.3 MB 4.0 MB/s eta 0:00:02
   -------------------------------- ------- 33.8/41.3 MB 4.0 MB/s eta 0:00:02
   --------------------------------- ------ 34.6/41.3 MB 4.0 MB/s eta 0:00:02
   ---------------------------------- ----- 35.7/41.3 MB 4.0 MB/s eta 0:00:02
   ----------------------------------- ---- 36.2/41.3 MB 4.0 MB/s eta 0:00:02
   ----------------------------------- ---- 37.0/41.3 MB 4.0 MB/s eta 0:00:02
   ------------------------------------ --- 38.0/41.3 MB 4.0 MB/s eta 0:00:01
   ------------------------------------- -- 39.1/41.3 MB 4.0 MB/s eta 0:00:01
   -------------------------------------- - 39.8/41.3 MB 4.0 MB/s eta 0:00:01
   ---------------------------------------  40.9/41.3 MB 4.1 MB/s eta 0:00:01
   ---------------------------------------- 41.3/41.3 MB 4.0 MB/s  0:00:10
Using cached threadpoolctl-3.6.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn

   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   -------------------- ------------------- 2/4 [joblib]
   -------------------- ------------------- 2/4 [joblib]
   -------------------- ------------------- 2/4 [joblib]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ---------------------------------------- 4/4 [scikit-learn]

Successfully installed joblib-1.5.3 scikit-learn-1.7.2 scipy-1.15.3 threadpoolctl-3.6.0

In [1]:
import sys
!{sys.executable} -m pip install pandas numpy scikit-learn matplotlib seaborn

Requirement already satisfied: pandas in c:\users\gwek2\anaconda3\envs\tf_env\lib\site-packages (2.3.3)
Requirement already satisfied: numpy in c:\users\gwek2\anaconda3\envs\tf_env\lib\site-packages (2.2.6)
Requirement already satisfied: scikit-learn in c:\users\gwek2\anaconda3\envs\tf_env\lib\site-packages (1.7.2)
Collecting matplotlib
  Downloading matplotlib-3.10.8-cp310-cp310-win_amd64.whl.metadata (52 kB)
Collecting seaborn
  Using cached seaborn-0.13.2-py3-none-any.whl.metadata (5.4 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\gwek2\anaconda3\envs\tf_env\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\gwek2\anaconda3\envs\tf_env\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\gwek2\anaconda3\envs\tf_env\lib\site-packages (from pandas) (2025.3)
Requirement already satisfied: scipy>=1.8.0 in c:\users\gwek2\anaconda3\envs\tf_env\lib\site-packages (from scikit-learn) (1.15.3)
Requirement already satisfied: joblib>=1.2.0 in c:\users\gwek2\anaconda3\envs\tf_env\lib\site-packages (from scikit-learn) (1.5.3)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\gwek2\anaconda3\envs\tf_env\lib\site-packages (from scikit-learn) (3.6.0)
Collecting contourpy>=1.0.1 (from matplotlib)
  Downloading contourpy-1.3.2-cp310-cp310-win_amd64.whl.metadata (5.5 kB)
Collecting cycler>=0.10 (from matplotlib)
  Using cached cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib)
  Downloading fonttools-4.61.1-cp310-cp310-win_amd64.whl.metadata (116 kB)
Collecting kiwisolver>=1.3.1 (from matplotlib)
  Downloading kiwisolver-1.4.9-cp310-cp310-win_amd64.whl.metadata (6.4 kB)
Requirement already satisfied: packaging>=20.0 in c:\users\gwek2\anaconda3\envs\tf_env\lib\site-packages (from matplotlib) (25.0)
Requirement already satisfied: pillow>=8 in c:\users\gwek2\anaconda3\envs\tf_env\lib\site-packages (from matplotlib) (12.1.0)
Collecting pyparsing>=3 (from matplotlib)
  Downloading pyparsing-3.3.2-py3-none-any.whl.metadata (5.8 kB)
Requirement already satisfied: six>=1.5 in c:\users\gwek2\anaconda3\envs\tf_env\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading matplotlib-3.10.8-cp310-cp310-win_amd64.whl (8.1 MB)
   ---------------------------------------- 0.0/8.1 MB ? eta -:--:--
   ------ --------------------------------- 1.3/8.1 MB 8.4 MB/s eta 0:00:01
   -------------------- ------------------- 4.2/8.1 MB 12.6 MB/s eta 0:00:01
   --------------------------- ------------ 5.5/8.1 MB 9.6 MB/s eta 0:00:01
   ------------------------------ --------- 6.3/8.1 MB 9.6 MB/s eta 0:00:01
   ------------------------------------- -- 7.6/8.1 MB 7.8 MB/s eta 0:00:01
   ---------------------------------------- 8.1/8.1 MB 6.9 MB/s  0:00:01
Using cached seaborn-0.13.2-py3-none-any.whl (294 kB)
Downloading contourpy-1.3.2-cp310-cp310-win_amd64.whl (221 kB)
Using cached cycler-0.12.1-py3-none-any.whl (8.3 kB)
Downloading fonttools-4.61.1-cp310-cp310-win_amd64.whl (1.6 MB)
   ---------------------------------------- 0.0/1.6 MB ? eta -:--:--
   --------------------------------- ------ 1.3/1.6 MB 6.7 MB/s eta 0:00:01
   ---------------------------------------- 1.6/1.6 MB 5.2 MB/s  0:00:00
Downloading kiwisolver-1.4.9-cp310-cp310-win_amd64.whl (73 kB)
Downloading pyparsing-3.3.2-py3-none-any.whl (122 kB)
Installing collected packages: pyparsing, kiwisolver, fonttools, cycler, contourpy, matplotlib, seaborn

   ----------- ---------------------------- 2/7 [fonttools]
   ----------- ---------------------------- 2/7 [fonttools]
   ----------- ---------------------------- 2/7 [fonttools]
   ----------- ---------------------------- 2/7 [fonttools]
   ----------- ---------------------------- 2/7 [fonttools]
   ----------- ---------------------------- 2/7 [fonttools]
   ----------- ---------------------------- 2/7 [fonttools]
   ----------- ---------------------------- 2/7 [fonttools]
   ----------- ---------------------------- 2/7 [fonttools]
   ----------- ---------------------------- 2/7 [fonttools]
   ---------------------- ----------------- 4/7 [contourpy]
   ---------------------------- ----------- 5/7 [matplotlib]
   ---------------------------- ----------- 5/7 [matplotlib]
   ---------------------------- ----------- 5/7 [matplotlib]
   ---------------------------- ----------- 5/7 [matplotlib]
   ---------------------------- ----------- 5/7 [matplotlib]
   ---------------------------- ----------- 5/7 [matplotlib]
   ---------------------------- ----------- 5/7 [matplotlib]
   ---------------------------- ----------- 5/7 [matplotlib]
   ---------------------------- ----------- 5/7 [matplotlib]
   ---------------------------- ----------- 5/7 [matplotlib]
   ---------------------------- ----------- 5/7 [matplotlib]
   ---------------------------- ----------- 5/7 [matplotlib]
   ---------------------------- ----------- 5/7 [matplotlib]
   ---------------------------- ----------- 5/7 [matplotlib]
   ---------------------------------- ----- 6/7 [seaborn]
   ---------------------------------- ----- 6/7 [seaborn]
   ---------------------------------------- 7/7 [seaborn]

Successfully installed contourpy-1.3.2 cycler-0.12.1 fonttools-4.61.1 kiwisolver-1.4.9 matplotlib-3.10.8 pyparsing-3.3.2 seaborn-0.13.2

  WARNING: The scripts fonttools.exe, pyftmerge.exe, pyftsubset.exe and ttx.exe are installed in 'C:\Users\gwek2\anaconda3\envs\tf_env\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.

In [18]:
X= df.drop(columns=["Exited"])
y = df["Exited"]

from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=1)

In [37]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [41]:
X_train_scaled=scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [42]:
X_train_scaled

array([[-0.23082038, -0.94449979, -0.70174202, ...,  1.71490137,
        -0.57273139,  0.91509065],
       [-0.25150912, -0.94449979, -0.35520275, ..., -0.58312392,
        -0.57273139, -1.09278791],
       [-0.3963303 ,  0.77498705,  0.33787579, ...,  1.71490137,
        -0.57273139, -1.09278791],
       ...,
       [ 0.22433188,  0.58393295,  1.3774936 , ..., -0.58312392,
        -0.57273139, -1.09278791],
       [ 0.13123255,  0.01077067,  1.03095433, ..., -0.58312392,
        -0.57273139, -1.09278791],
       [ 1.1656695 ,  0.29735181,  0.33787579, ...,  1.71490137,
        -0.57273139,  0.91509065]], shape=(8000, 11))

In [43]:
X_test_scaled

array([[-1.03768121,  0.77498705, -1.0482813 , ..., -0.58312392,
        -0.57273139,  0.91509065],
       [ 0.30708683, -0.46686456, -0.70174202, ..., -0.58312392,
        -0.57273139,  0.91509065],
       [-1.23422423,  0.29735181, -1.0482813 , ..., -0.58312392,
        -0.57273139, -1.09278791],
       ...,
       [-0.86182692, -0.46686456,  1.72403288, ..., -0.58312392,
         1.74601919,  0.91509065],
       [-0.30323097, -0.84897275, -1.0482813 , ...,  1.71490137,
        -0.57273139, -1.09278791],
       [ 0.04847759,  1.25262228,  1.3774936 , ...,  1.71490137,
        -0.57273139,  0.91509065]], shape=(2000, 11))

In [20]:
import tensorflow as tf
from tensorflow import keras 
from tensorflow.keras import Sequential 
from tensorflow.keras.layers import Dense

In [21]:
model = Sequential()

In [30]:
model.add(Dense(3,activation="sigmoid",input_dim = 11))
model.add(Dense(1,activation = "sigmoid"))

In [31]:
model.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━┓
┃ Layer (type)                         ┃ Output Shape                ┃         Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━┩
│ dense (Dense)                        │ (None, 3)                   │              36 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_1 (Dense)                      │ (None, 3)                   │              12 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_3 (Dense)                      │ (None, 3)                   │              12 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_4 (Dense)                      │ (None, 1)                   │               4 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_5 (Dense)                      │ (None, 3)                   │               6 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_6 (Dense)                      │ (None, 1)                   │               4 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_7 (Dense)                      │ (None, 3)                   │               6 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_8 (Dense)                      │ (None, 1)                   │               4 │
└──────────────────────────────────────┴─────────────────────────────┴─────────────────┘

 Total params: 84 (336.00 B)

 Trainable params: 84 (336.00 B)

 Non-trainable params: 0 (0.00 B)

In [49]:
model.compile (loss="binary_crossentropy",optimizer="Adam")

In [50]:
model.fit(X_train_scaled,y_train,epochs=10)

Epoch 1/10
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - loss: 0.8410
Epoch 2/10
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.6397
Epoch 3/10
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.5529
Epoch 4/10
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.5189
Epoch 5/10
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.5077
Epoch 6/10
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.5049
Epoch 7/10
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.5043
Epoch 8/10
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.5042
Epoch 9/10
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.5043
Epoch 10/10
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.5042

In [55]:
model.layers[0].get_weights()

[array([[-0.2186249 ,  0.19409063, -0.2375889 ],
        [ 1.7413458 , -1.7883303 ,  1.9163522 ],
        [ 0.12582868,  0.11379362,  0.15086134],
        [ 0.59960884, -0.2883636 ,  0.05341426],
        [-0.1994351 ,  0.04361314, -0.33065072],
        [ 0.17345367,  0.07836037,  0.18665658],
        [-0.9055563 ,  0.7542498 , -0.4682515 ],
        [-0.13311253,  0.02029268, -0.00604653],
        [ 0.7372488 , -0.79105633,  1.0029083 ],
        [-0.00643121,  0.06209854,  0.09715045],
        [-0.6896472 ,  0.5161048 , -0.37312326]], dtype=float32),
 array([-0.34386683,  0.45892018, -0.28836092], dtype=float32)]

In [57]:
y_log=model.predict(X_test_scaled)

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 791us/step

In [62]:
y_pred = np.where(y_log>0.5,1,0)

In [64]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.7925